@model VeterinariaApp.Models.tbl_raza

@{
    ViewBag.Title = "Razas";
}

<div class="row">
    <div class="col-7">
        <h2 class="border-left border-bottom border-info rounded-left">Razas <span class="text-muted" style="font-size: 16px">Un pequeño grupo.</span></h2>
    </div>

    <div class="col-12">
        <div class="alert alert-info" role="alert">
            Información sobre esta raza. <i class="fas fa-exclamation-triangle ml-2"></i>
        </div>
    </div>
</div>
<hr />

<div class="card shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="md-v-line"></div><i class="mr-4 font-weight-bold">Nombre</i>
                    </li>
                    <li class="list-group-item">
                        <i class="mr-4">@Html.DisplayFor(model => model.nombre_r)</i><div class="md-v-line"></div>
                    </li>
                </ul>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.ActionLink(" Volver atrás", "Index", null, new { @class = "btn btn-outline-dark fas fa-arrow-left btn-sm" }) |
                    @Html.ActionLink(" Actualizar", "Edit", new { id = Model.codigo_r }, new { @class = "btn btn-outline-info btn-sm far fa-edit" })
                </div>
            </div>
        </div>
    </div>
</div>
